@charset "utf-8";



/*

 * Copyright © 2010 Asidev s.r.l. - www.asidev.com

 */


#menu > ul > li > ul, #menu > ul > li > a:hover, #menu > ul > li > a:focus,
#editable_content a:hover, #editable_content a:focus
{
    background-color: #111111;
    text-decoration: none;
}

#menu > ul > li > a.active, #menu > ul > li > ul > li > a.active {
    text-decoration: underline;
}