@charset "utf-8";

/*
* Copyright © 2010 Asidev s.r.l. - www.asidev.com
*/

/*
* This is Grey version
*/

#header, #footer {
	background:		transparent url(../images/pxgrey_headfoot.png) repeat;
	color:			#EDEDD1;
}

#header a, #footer a {
	color:			#EDEDD1;
}

#header a:hover, #footer a:hover {
	color: 			#4D4D4D;
}

#banner {
	background:		transparent url(../images/pxgrey_headfoot.png) repeat;
}

#banner h1 {
	color:			#000000;
}

#content_wrapper {
	background: transparent url(../images/pxgrey_contentmenu.png) repeat;
}

#left a {
	color:			#EDEDD1;
	background:		transparent url(../images/pxgrey_contentmenu.png) repeat;
}

#left a:hover, #left a:focus {
	color:			#4D4D4D;
}

#right a {
	color:			#4D4D4D;
}

#right a:hover, #right a:focus {
	color: 			#EDEDD1;
}
