@charset "utf-8";

/*
 * Copyright © 2010 Asidev s.r.l. - www.asidev.com
 * Violet version
 */

body {
	background-color: #F0EDF0;
}

a, #user > li, #languages > li, #path > li,
#menu > ul > li > a, #menu > ul > li > ul > li > a {
	color: #000000;
}

#user a:hover, #user a:focus, #path > li a:hover,
#path > li a:focus, #menu > ul > li > a.active,
#left a:hover, #left a:focus, #editable_content cite,
#editable_content a:hover, #editable_content a:focus,
#editable_content h1, #footer a:hover, #footer a:focus,
#menu > ul > li > ul > li > a.active {
	color: #6666FF;
}


#banner {
	background: transparent url(../images/banner_violet.png) no-repeat;
}

#menu, #wrapper  {
	background: transparent url(../images/px_center_violet.png) repeat-y;
}
#menu > ul {
	background: transparent url(../images/px_menu_violet.png) repeat-x;
}

#menu > ul li a:hover, #menu ul li  a:focus,
#menu > ul > li > ul > li > a.active {
	background: transparent url(../images/px_menu_hover_violet.png) repeat;
	color: #000000;
}

#menu > ul > li > ul {
	background-color: #F2F0E7;
}

#right {
	border-left: 1px solid #6666FF;
}

#editable_content h1 {
	border-bottom: 1px solid #6666FF;
	border-top: 1px solid #6666FF;
}

#editable_content ul, #editable_content ol {
	border: #6666FF dashed 2px;
}

#footer {
	background: transparent url(../images/footer_violet.png) repeat-y;
	color: #FFFFFF;
}
